
@{
    ViewBag.Title = "CISTeam";
}
<h1>CIS Team Members</h1>
<div class="panel">

    <!--First Row-->
    <div class="row" style="margin-bottom:100px">
        <!-- First Member's Profile -->
        <div class="col-md-4" style="margin-left:150px">
            <div class="thumbnail">
                <img src="~/Content/Images/ferris-state-university_2013-09-05_13-58-58.622.jpg" alt="Thumbnail_img">
                <div class="caption text-center">
                    <h4>Ryan McCarty</h4>
                    <h4>Role: Scrum Master</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Ryan">Learn More</div>
                    <div id="Ryan" class="collapse">More Info About Ryan</div>
                </div>
            </div>
        </div>

        <!-- Second Member's Profile -->
        <div class="col-md-4" style="margin-left:100px">
            <div class="thumbnail">
                <img src="~/Content/Images/ferris-state-university_2013-09-05_13-58-58.622.jpg" alt="Thumbnail_img">
                <div class="caption text-center">
                    <h4>Alyssa Kozlowski</h4>
                    <h4>Role: Product Owner</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Alyssa">Learn More</div>
                    <div id="Alyssa" class="collapse">More Info About Alyssa</div>
                </div>
            </div>
        </div>
     </div>

    <!--Second Row-->
    <div class="row" style="margin-bottom:100px">
        <!-- First Member's Profile -->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/Abigail.png" style="max-height:400px; max-width:280px">
                <div class="caption text-center">
                    <h4>Abigail Herrera</h4>
                    <h4>Role: Scrum Member</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Abigail">Learn More</div>
                    <div id="Abigail" class="collapse">Abigail Herrera is from a small town called Newaygo, Michigan. She is currently a senior at Ferris State University with a Dual Major in Accounting and Computer Information Systems. She is bi-lingual in English and Spanish. After graduation, she hopes to find employment where she will be able to apply her knowledge and experience in accounting and computer information systems.</div>
                </div>
            </div>
        </div>

        <!-- Second Member's Profile -->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/Russ.png"  style="max-height:450px; max-width:300px">
                <div class="caption text-center">
                    <h4>Russ McGinely</h4>
                    <h4>Role: Scrum Member</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Russ">Learn More</div>
                    <div id="Russ" class="collapse">Russ McGinley is a returning student, working on a Bachelor’s degree in Information System at Ferris State University. Russ lives in northern Michigan, where he hopes to use his degree to advance his career in Information Systems as a Systems Administrator.</div>
                </div>
            </div>
        </div>

        <!-- Third Member's Profile -->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/ferris-state-university_2013-09-05_13-58-58.622.jpg" alt="Thumbnail_img">
                <div class="caption text-center">
                    <h4>Blake Budreau</h4>
                    <h4>Role: Scrum Member</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Blake">Learn More</div>
                    <div id="Blake" class="collapse">More Info About Blake</div>
                </div>
            </div>
        </div>
    </div>

        <!--Third Row-->
    <div class="row" style="margin-bottom:100px">
        <!-- First Member's Profile -->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/Caleb.png" style="min-height:325px; min-width:175px">
                <div class="caption text-center">
                    <h4>Caleb Samborski</h4>
                    <h4>Role: Scrum Member</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Caleb">Learn More</div>
                    <div id="Caleb" class="collapse">Caleb is a graduating Senior ia a dual major in both Accountancy and Computer Information Systems. Originally from Westland, which is over on the east side of Michigan within the Metro Detroit area. Caleb is looking forward to taking the CPA examination this upcoming Summer 2017 and beginning his professional career in the field of Accounting. He is looking forward to obtaining a position where both his fields of study can be applied.</div>
                </div>
            </div>
        </div>

        <!-- Second Member's Profile -->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/ferris-state-university_2013-09-05_13-58-58.622.jpg" alt="Thumbnail_img">
                <div class="caption text-center">
                    <h4>Tyler Ver Merris</h4>
                    <h4>Role: Scrum Member</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Tyler">Learn More</div>
                    <div id="Tyler" class="collapse">More Info About Tyler</div>
                </div>
            </div>
        </div>

        <!-- Third Member's Profile -->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/ferris-state-university_2013-09-05_13-58-58.622.jpg" alt="Thumbnail_img">
                <div class="caption text-center">
                    <h4>Derek Maguire</h4>
                    <h4>Role: Scrum Member</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Derek">Learn More</div>
                    <div id="Derek" class="collapse">More Info About Derek</div>
                </div>
            </div>
        </div>
    </div>

    <!--Third Row-->
    <div class="row" style="margin-bottom:100px">
        <!-- First Member's Profile -->
        <div class="col-md-4" style="margin-left:390px;">
            <div class="thumbnail">
                <img src="~/Content/Images/website image.png" style="max-height:350px; min-width:200px">
                <div class="caption text-center">
                    <h4>Conor Jager</h4>
                    <h4>Role: Scrum Member</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Conor">Learn More</div>
                    <div id="Conor" class="collapse">Conor is a graduate from Ferris State University with a Dual Bachelor's degree in Accounting and Computer Information Systems. He is persueing a career as a business analyst, but would like to work other jobs in business and technology along the way. Conor is a Grand Rapids, Michigan native and also loves being active and outside.</div>
                </div>
            </div>
        </div>
    </div>

</div>

