@{
    ViewBag.Title = "Home Page";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Images/test1.jpg" />
            <div class="carousel-caption">
                <h3>Caption Text</h3>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Images/test2.jpg" />
            <div class="carousel-caption">
                <h3>Caption Text</h3>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Images/test3.jpg" />
            <div class="carousel-caption">
                <h3>Caption Text</h3>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> <!-- Carousel -->

<div class="row">
    <div class="col-md-4">
        <h2 style="text-align: center;">Top Resources</h2>
        <div style="border-top: 1px solid black; border-bottom: 1px solid black">
            <h4>What is Human trafficking</h4>
            <p>Views: 1027 &nbsp; Date Uploaded: 10/27/2016</p>
            <p>Description</p>
            <p>
                This resource describes the key points to Human trafficking and provides information on key indicators.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center;">News</h2>
        <p>
            test for news - test for news - test for news - test for news - test for news - test for news - test for news - test for news - test for news -
            test for news - test for news - test for news - test for news - test for news - test for news - test for news - test for news - test for news - 
        </p>        
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center;">Recently Added</h2>
        <p>
            test for recently added - test for recently added - test for recently added - test for recently added - test for recently added - 
            test for recently added - test for recently added - test for recently added - test for recently added - test for recently added - 
        </p>
    </div>
</div>