@{
    ViewBag.Title = "Home Page";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-top:-30px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
       
    
       
            <img src="~/Content/Images/trafficking.png"   id="carousel_img" />
            <div class="carousel-caption">
         
                <p id="carousel_btn" 
                   class= "btn btn-danger btn-group-lg">Read More</a></p>
            </div>
        </div>
        <div class="item">
          
           
            <img src="~/Content/Images/Cyber Final.png"  id="carousel_img" />
            <div class="carousel-caption">
    
                <p id="carousel_btn"><a class="btn btn-primary btn-group-lg">Read More</a></p>
            </div>
        </div>
        <div class="item">
          

            <img src="~/Content/Images/Life is about finding people who are your kind of crazy! (5).png"  id="carousel_img" />
            <div class="carousel-caption">
                
                <p id="carousel_btn"><a class="btn btn-success btn-group-lg">Read More</a></p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> <!-- Carousel -->

<h1 style="text-align: center;">News and Articles</h1>
<div class="row" id="borders">
    <div class="col-md-6">
     
        <h2 style="text-align: center;">Recent News</h2>
        <ul class="align-left">
            <li>Human Trafficking Confrence April 5th and 6th at University Center.</li>
            <li>"Warning Lights" to bring awareness to human trafficking. More Info <A HREF="http://ferris.edu/business/news/warning-lights-for-human-trafficking/">Here</A></li>
            <li>Human trafficking growing problem in Atlanta. More Info <A HREF="http://www.fox5atlanta.com/news/241695965-story">Here</A></li>
            <li>Task force cracks down on child exploitation in Atlantic City. More Info <A HREF="http://philadelphia.cbslocal.com/2017/03/10/local-child-predator-task-force-working-hard-to-fight-human-trafficking-in-area/">Here</A> </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2 style="text-align: center;">Recently Added Articles</h2>
        <ul class="align-left">
            <li>Oversharing: Whats so bad about it. Read more <A HREF="http://praesidium-beta.azurewebsites.net/CyberSecurity/Teen">Here</A></li>
            <li>Sammy & Facebook: The dangers of simple things. Read more <A HREF="http://praesidium-beta.azurewebsites.net/CyberSecurity/Youth">Here</A></li>
            <li>Cyberbullying: The hidden problem. Read more <A HREF="http://praesidium-beta.azurewebsites.net/CyberSecurity/Adults">Here</A></li>
            <li>Teachers: Helping your students be safe online. Read more <A HREF="http://praesidium-beta.azurewebsites.net/CyberSecurity/Teachers">Here</A></li>
        </ul>
    </div>
</div>
<h1 style="text-align: center;">Resources</h1>
<div class="row"  id="borders">
    <div class="col-md-6" >
        <h2 style="text-align: center;">Government Resources</h2>
        <ul class="align-left">
            <li><A HREF="https://www.state.gov/j/tip/rls/tiprpt/2013/index.htm">Trafficking in Persons Report 2013</A></li>
            <li><A HREF="https://www.dhs.gov/blue-campaign/what-human-trafficking">What is Human Trafficking - DHS</A></li>
            <li><A HREF="https://leb.fbi.gov/2011/march/human-sex-trafficking">FBI Bulletin on Human Sex Trafficking</A></li>
            <li><A HREF="https://www.ovc.gov/pubs/FederalHumanTraffickingStrategicPlan.pdf">Federal Human Trafficking Strategic Plan</A> </li>
            <li><A HREF="https://www.acf.hhs.gov/otip">Office on trafficking in persons hompage</A></li>

</ul>
</div>
    <div class="col-md-6" >
        <h2 style="text-align: center;" >General Resources</h2>
        <ul class="align-left">
            <li><A HREF="https://polarisproject.org">Polaris Project Site</A></li>
            <li><A HREF="https://humantraffickinghotline.org">Human Trafficking Hotline Site</A></li>
            <li><A HREF="http://www.missingkids.com/home">Missing Kids Sit</A></li>
            <li><A HREF="http://www.micatholic.org/advocacy/focus-essay/2014/focus-20140201-HumanTrafficking.pdf">Essay on Human Trafficking</A> </li>
            

        </ul>
</div>
</div>