
@{
    ViewBag.Title = "Adults";
}

<div class="row">
    <div class="col-md-8">

        <p class= "h2" style="text-align:center; color:black"><strong>Keeping your kid safe online</strong> <br /> <strong> Why it's important</strong></p>
