
@{
    ViewBag.Title = "Resources";
}
<!-- Creates Panel for Entire Page -->
<div class="panel panel-warning">
    <h2 id="headers">Resources</h2>
    
    <div class="panel-body">
        <!-- First Row of Resources -->
        <div class="row" style="margin-bottom:50px">

            <!-- First Resource -->
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/Images/ferris-state-university_2013-09-05_13-58-58.622.jpg" alt="Thumbnail_img">
                    <div class="caption text-center">
                        <h4>Title of Resource</h4>
                        <h4>Author of Resource</h4>
                        <h4>Date Added</h4>
                        <p><a href="" class="btn btn-danger" role="button">Check It Out</a></p>
                    </div>
                </div>
            </div>
            <!-- Second Resource -->
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/Images/ferris-state-university_2013-09-05_13-58-58.622.jpg" alt="Thumbnail_img">
                    <div class="caption text-center">
                        <h4>Title of Resource</h4>
                        <h4>Author of Resource</h4>
                        <h4>Date Added</h4>
                        <p><a href="" class="btn btn-danger" role="button">Check It Out</a></p>
                    </div>
                </div>
            </div>
            <!-- Third Resource -->
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/Images/ferris-state-university_2013-09-05_13-58-58.622.jpg" alt="Thumbnail_img">
                    <div class="caption text-center">
                        <h4>Title of Resource</h4>
                        <h4>Author of Resource</h4>
                        <h4>Date Added</h4>
                        <p><a href="" class="btn btn-danger" role="button">Check It Out</a></p>
                    </div>
                </div>
            </div>
            <!-- Fourth Resource -->
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/Images/ferris-state-university_2013-09-05_13-58-58.622.jpg" alt="Thumbnail_img">
                    <div class="caption text-center">
                        <h4>Title of Resource</h4>
                        <h4>Author of Resource</h4>
                        <h4>Date Added</h4>
                        <p><a href="" class="btn btn-danger" role="button">Check It Out</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Row of Resources -->
        <div class="row">

            <!-- First Resource -->
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/Images/ferris-state-university_2013-09-05_13-58-58.622.jpg" alt="Thumbnail_img">
                    <div class="caption text-center">
                        <h4>Title of Resource</h4>
                        <h4>Author of Resource</h4>
                        <h4>Date Added</h4>
                        <p><a href="" class="btn btn-danger" role="button">Check It Out</a></p>
                    </div>
                </div>
            </div>
            <!-- Second Resource -->
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/Images/ferris-state-university_2013-09-05_13-58-58.622.jpg" alt="Thumbnail_img">
                    <div class="caption text-center">
                        <h4>Title of Resource</h4>
                        <h4>Author of Resource</h4>
                        <h4>Date Added</h4>
                        <p><a href="" class="btn btn-danger" role="button">Check It Out</a></p>
                    </div>
                </div>
            </div>
            <!-- Third Resource -->
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/Images/ferris-state-university_2013-09-05_13-58-58.622.jpg" alt="Thumbnail_img">
                    <div class="caption text-center">
                        <h4>Title of Resource</h4>
                        <h4>Author of Resource</h4>
                        <h4>Date Added</h4>
                        <p><a href="" class="btn btn-danger" role="button">Check It Out</a></p>
                    </div>
                </div>
            </div>
            <!-- Fourth Resource -->
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Content/Images/ferris-state-university_2013-09-05_13-58-58.622.jpg" alt="Thumbnail_img">
                    <div class="caption text-center">
                        <h4>Title of Resource</h4>
                        <h4>Author of Resource</h4>
                        <h4>Date Added</h4>
                        <p><a href="" class="btn btn-danger" role="button">Check It Out</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>