
@{
    ViewBag.Title = "Statistics";
}
<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Trafficking Statistics</h1>

    <p></p>

</div>

<!-- Creates for all panels -->
<div class="row">
    <!-- Left Side of Page -->
    <div class="panel col-md-4">

        <!-- Quick Facts section, created as a panel -->
        <div class="panel-heading text-center"><h2>U.S. Department of State Yearly Reports</h2></div>
        <div class="panel-body" id="borders">
            <ul>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2016/index.htm"> 2016 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2015/index.htm"> 2015 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2014/index.htm"> 2014 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2013/index.htm"> 2013 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2012/index.htm"> 2012 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2011/index.htm"> 2011 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2010/index.htm"> 2010 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2009/index.htm"> 2009 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2008/index.htm"> 2008 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2007/index.htm"> 2007 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2006/index.htm"> 2006 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2005/index.htm"> 2005 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2004/index.htm"> 2004 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2003/index.htm"> 2003 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2002/index.htm"> 2002 Report </a></li>
                <li><a href="http://www.state.gov/j/tip/rls/tiprpt/2001/index.htm"> 2001 Report </a></li>
            </ul>
        </div>

        <!-- Top Ten States Section -->
        <!-- Seperate Panel to Quick Facts -->
        <div class="panel-heading text-center"><h2>Top 10 States with Most Reported Cases</h2></div>
        <div class="panel-body text-center" id="borders">
            <ol>
                <li> California - 1323 cases</li>
                <li> Texas - 670 cases</li>
                <li> Florida - 550 cases</li>
                <li> Ohio - 375 cases</li>
                <li> New York - 327 cases</li>
                <li> Georgia - 256 cases</li>
                <li> Michigan - 246 cases</li>
                <li> Illinois - 198 cases</li>
                <li> New Jersey - 193 cases</li>
                <li> North Carolina - 181 cases</li>
            </ol>
        </div>
    </div>

    <!-- Center of Page-->
    <!-- Everything is on one panel -->
    <div class="panel col-md-5">
        <!-- Beginning header -->
        <div class="panel-heading text-center"><h2>Whose effected the most?</h2></div>

        <!-- Panel Body -->
        <div class="panel-body" id="borders">

            <!-- Gender Progress Bar -->
            <object data="https://www.state.gov/documents/organization/258876.pdf" width="100%" height="400" type='application/pdf'>
                <p>Sorry, the PDF couldn't be displayed</p>
            </object>
            </div>

    <!-- Right Side of Page -->
    <!-- Created as a panel -->
    <div class="panel col-md-offset-9" id="borders">
        <div class="panel-heading text-center"><h2>Human Trafficing Resources</h2></div>
        <div class="panel-body text-center">
            <ul>
                <li><a href="https://humantraffickinghotline.org/states">Human Trafficking Hotline</a></li>
                <li><a href="https://ucr.fbi.gov/crime-in-the-u.s/2015/crime-in-the-u.s.-2015/additional-reports/human-trafficking/table_3_human_trafficking_arrests_by_age_by_state_2015.xls"> FBI Human Trafficking Arrests, 2015</a></li>
                <li><a href="https://ucr.fbi.gov/crime-in-the-u.s/2015/crime-in-the-u.s.-2015/additional-reports/human-trafficking/copy_of_humantrafficking_2015_final.pdf">FBI Human Trafficking Data Tables</a></li>
                <li><a href="https://2009-2017.state.gov/j/tip/rls/fs/2016/259140.htm">International Programs to combat human trafficing</a></li>
            </ul>
        </div>
    </div>

</div>
