
@{
    ViewBag.Title = "Teachers";
}


<div class="container-fluid" id="photo_cont" style="margin-bottom:3%;">
    <div class="row">
        <div class="col-md-12">

            <figure class="effect-caged">
                <img src="~/Content/Images/teacher.png" g" style="width:100%;max-height:330px;" />
                <figcaption>
                    <h1><span>Teachers</span></h1>
                </figcaption>
            </figure>

        </div>

    </div>
</div>

<!-- Carousel -->

<div class="row">

    <div class="col-xs-12">

        <div class="row">
            <div class="col-md-12">
                <h1 id=" headers">Teachers</h1>
                <p class="lead" id="p_text">
                    Teachers are some of the most influential people on today’s youth. Kids spend a majority of their time at
                    school, in the early parts of their life. These young kids are also the most vulnerable to human trafficking
                    because they do not know any better and they physically cannot do much against an attacker. Because
                    of this, it is so important for teachers to be fully aware of the dangers of human trafficking and the signs
                    of a possible attack, in order to educate our youth. This page contains information and resources that
                    will give content to our educators so that they can learn and pass on the information to their students.
                </p>
            </div>
        </div>
    </div>
</div>


@if (Model != null)
{
    foreach (var file in Model)
    {
        <div class="row">
            <div class="col-md-8">
                <div class="well">
                    <h2 style="color:slategrey;text-align:center;"><strong>@file.Title</strong></h2>
                    <p id="p_text">
                        @WebUtility.HtmlDecode(file.Description)
                    </p>
                    <button class="btn btn-md btn-success align-center" style="margin-left:42%;">View File</button>
                </div>
            </div>
        </div>
    }
}

