
@{
    ViewBag.Title = "Youth";
}



<div class="container-fluid" id="photo_cont" style="margin-bottom:3%;">
    <div class="row">
        <div class="col-md-12">

            <figure class="effect-caged">




                <img src="~/Content/Images/pic4.png" style="width:100%;max-height:330px;" />
                <figcaption>
                    <h1> <span>Youth</span></h1>
                </figcaption>
            </figure>

        </div>

    </div>
</div>


<div class="row">

    <div class="col-xs-12">

        <div class="row">
            <div class="col-md-12">
                <h1>Youth</h1>
                <p class="lead">
                    Youth are some of the most vulnerable targets out there when it comes to human trafficking. Because of this, we must take extra precaution
                    in protecting our children and making sure they know how to protect themselves. This page will help do that.
                </p>
            </div>
        </div>
    </div>
</div>
@if (Model != null)
{
    foreach (var file in Model)
    {
        <div class="row">
            <div class="col-md-8">
                <div class="well">
                    <h2 style="color:slategrey;text-align:center;"><strong>@file.Title</strong></h2>
                    <p id="p_text">
                        @WebUtility.HtmlDecode(file.Description)
                    </p>
                    <button class="btn btn-md btn-success align-center" style="margin-left:42%;">View File</button>
                </div>
            </div>
        </div>
    }
}

