
@{
    ViewBag.Title = "Adults";
}
<script src="~/Scripts/analytics.js"></script>

<div class="row">
    <div class="col-md-8">

        <p class="h2" style="text-align:center; color:slategray"><strong>Parent</strong></p><br /><br />


        <p>
          <h1>Welcome to the Adult resource page for Cyber Security</h1>
            This page is a resource for all adults, whether you are a parent, a grandparent, a police officer or even a official. This page will provide you with articles about the importance of providing a safe online experience for children and how you can go about that from your various roles.
        </p>

    </div>
    <div class="col-md-4 align-center ">
        <p class="h3" style="text-align:center;color:slategray;padding-top:25%;"><strong>Youth Page Links</strong></p>
        <ul class="align-left">
            <li><A HREF="http://www.cox.com/wcm/en/aboutus/datasheet/takecharge/2009-teen-survey.pdf">COX Communications Report</A></li>
            <li><A HREF="http://www.innocentsatrisk.org">Innocents at Risk</A></li>
            <li><A HREF="https://humantraffickinghotline.org">Human Trafficking Hotline</A></li>
           
        </ul>

        <br /><br />

    </div>

</div>
</br>

<div class="col-md-8">
    <p class="h2" style="text-align:center; color:slategray"><strong>Resources for staying safe online</strong></p><br />
    <div class="well">
        <p class="h2" style="text-align:center; color:slategray"><strong>Article 1</strong></p><br />
        <p>
          <h2>Top 10 way you can keep you kids safe online</h2> 
            Did you know that over 50% of kids have shared/posted their real age online? This is an alarming statisic that....
        </p>

    </div>

    <div class="well">
        <p class="h2" style="text-align:center; color:slategray"><strong>Article 2</strong></p><br />
        <p>
            <h2>Cyberbullying:A huge problem in Youth of today</h2>
            Did you know that over 25% of girls and 14% of boys have been victims of cyberbullying? This is a growing problem and it is only going to get worse. According to COX Communications...
        </p>

    </div>

</div>

