
@{
    ViewBag.Title = "Cyber Security";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Images/cybersecurity1.jpg" style="max-height:189px;display: block; margin-left: auto; margin-right: auto;" />
            @*<div class="carousel-caption">
                <h3>Caption Text</h3>
            </div>*@
        </div>
        <div class="item">
            <img src="~/Content/Images/cybersecurity2.jpg" style="max-height:189px;display: block; margin-left: auto; margin-right: auto;"/>
            @*<div class="carousel-caption">
                <h3>Caption Text</h3>
            </div>*@
        </div>
        <div class="item">
            <img src="~/Content/Images/cybersecurity3.jpg" style="max-height:189px;display: block; margin-left: auto; margin-right: auto;"/>
            @*<div class="carousel-caption">
                <h3>Caption Text</h3>
            </div>*@
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> <!-- Carousel -->

<div class="row">
    <div class="col-md-8">
        <p class="h2">
            Why Cyber Security Plays an Important Role in Human Trafficing
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra sapien eget tempor pulvinar. Nunc eleifend orci nec rutrum bibendum. Sed non enim ac elit malesuada venenatis. Suspendisse imperdiet dolor sit amet leo fermentum, sed pulvinar tellus cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec velit metus, facilisis a sodales non, scelerisque et est. Maecenas a sapien placerat, dignissim dui vestibulum, ultricies est. Praesent non mauris non dolor ultricies tincidunt. Nulla tellus purus, venenatis eu magna in, ultrices pellentesque ligula. Donec elementum pulvinar ex, non mollis justo lacinia et. Sed commodo porta felis, quis viverra ligula auctor vel. Etiam elit lacus, vehicula vel finibus quis, semper vel lectus.

            Nam luctus tellus massa, ut fringilla quam ultrices a. Nam turpis ex, convallis mollis erat non, consectetur vehicula neque. Morbi enim metus, condimentum et tincidunt vitae, vestibulum eu neque. Sed velit felis, suscipit quis nibh suscipit, feugiat consequat quam. Suspendisse finibus tempus maximus. Quisque erat ex, tincidunt vitae euismod nec, sagittis eu urna. Etiam eu nibh sit amet dolor rutrum ullamcorper et eget diam. Duis pulvinar convallis semper. Nam volutpat tincidunt cursus. Etiam vitae felis orci. Fusce nec leo a diam suscipit semper ac semper nibh. Suspendisse potenti. Maecenas ac sem a lorem aliquet efficitur.

            Maecenas consequat sed leo vel bibendum. Vestibulum id leo vitae nulla viverra fermentum. Curabitur vel accumsan purus. Integer vel varius enim. Phasellus a mollis enim, eget gravida lorem. Etiam ac vulputate massa, in aliquet nisi. Proin ut tempor turpis. Sed pulvinar lectus vel ex finibus ullamcorper. Integer efficitur nec ligula eget suscipit. Curabitur massa est, laoreet at tincidunt a, consequat ac dolor. Integer pretium nisi nec sodales sollicitudin. Integer tempor ante quis est vehicula, eget luctus arcu malesuada.

            Sed vehicula magna id elit scelerisque lobortis. Nulla sagittis neque eu nunc scelerisque, in tempor ipsum dictum. Cras ut tristique dui. Proin placerat vulputate risus, id imperdiet nisl vehicula vel. Aenean augue odio, consectetur ac augue eget, rutrum laoreet sem. Nulla facilisi. Aenean iaculis urna sit amet erat lobortis elementum. In ut quam aliquam, ullamcorper tortor ac, fringilla arcu. Aliquam suscipit, ipsum a efficitur ultricies, urna est varius massa, nec vulputate lacus odio eget nibh. Sed et neque metus. Nullam lacinia fringilla nulla, non condimentum ex imperdiet sit amet. Praesent vitae efficitur orci.

            Phasellus vehicula, arcu nec sagittis mollis, diam lacus laoreet leo, quis convallis justo dui sed mauris. Curabitur ut ex mattis ex ultricies dignissim. Nam non interdum lorem. Etiam tempus sagittis elit, vitae ultricies orci posuere id. Donec vel neque erat. Donec ac enim accumsan, consequat arcu et, lobortis leo. Maecenas sit amet tincidunt dolor, ac tristique elit. Vestibulum rhoncus ligula id ex rhoncus auctor. Nunc faucibus orci vel lorem tempor, ultricies auctor orci congue. Sed efficitur eget est nec volutpat. Fusce sit amet dapibus orci. Nullam varius purus nisl.
        </p>
    </div>
    <div class="col-md-4">
        <p class="h3">Top 10 Ways to Protect Yourself Online</p>
        <ul>
            <li>Never tell anyone your name</li>
            <li>blah</li>
            <li>blah</li>
            <li>blah</li>
            <li>blah</li>
            <li>blah</li>
            <li>blah</li>
            <li>blah</li>
            <li>blah</li>
        </ul>
    </div>
</div>