
@{
    ViewBag.Title = "LawEnforcement";
}

<div class="row">
    <img src="~/Content/Images/cyber-crime.jpg" style="width: 80%;" class="img-responsive" />
    </br>
    <div class="col-md-10">

        <p class="h2" style="text-align:center; color:slategray"><strong>Law Enforcement's Role in Cyber Security</strong></p><br /><br />


        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra sapien eget tempor pulvinar. Nunc eleifend orci nec rutrum bibendum. Sed non enim ac elit malesuada venenatis. Suspendisse imperdiet dolor sit amet leo fermentum, sed pulvinar tellus cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec velit metus, facilisis a sodales non, scelerisque et est. Maecenas a sapien placerat, dignissim dui vestibulum, ultricies est. Praesent non mauris non dolor ultricies tincidunt. Nulla tellus purus, venenatis eu magna in, ultrices pellentesque ligula. Donec elementum pulvinar ex, non mollis justo lacinia et. Sed commodo porta felis, quis viverra ligula auctor vel. Etiam elit lacus, vehicula vel finibus quis, semper vel lectus.

        </p>

    </div>

</div>
</br>

<div class="col-md-10 well">
    <p class="h2" style="text-align:center; color:slategray"><strong>Resources for Cyber Security Laws and Legislation</strong></p><br />
    <div class="col-md-10 centered">
        <ul>
            <li><a href="http://www.mass.gov/anf/research-and-tech/cyber-security/cyber-security-laws/federal-cyber-security-laws.html">Federal Cyber Security Laws</a></li>
            <li>Website2</li>
            <li>Website3</li>
            <li>Website4</li>
            <li>Website5</li>
            <li>Website6</li>
            <li>Website7</li>
            <li>Website8</li>
            <li>Website9</li>
            <li>Website10</li>
        </ul>

    </div>
</div>
