
@{
    ViewBag.Title = "LawEnforcement";
}

<div class="row">
    <img src="~/Content/Images/cyber-crime.jpg" style="width: 100%;height:300px;margin-left:15px;" class="img-responsive"/>
    <div class="col-md-12">
       <h2 id="headers">Law Enforcement's Role in Cyber Security</h2>

        <p id="p_text">
           Law Enforment plays a very large and important role in the protection of children online.
            Law Enforment's main goal is education of the general public and thier main way of doing 
            this is by doing talks in schools and at kids clubs. They also provide resources like websites,
             fourms and other informational resources for parents and children alike.
        </p>
    </div>
</div>

<div class="col-md-12 well" id="borders">
    <h2 id="headers_borders">Resources for Cyber Security Laws and Legislation</h2>
    <div class="col-md-12 centered" id="p_textborders">
        <ul>
            <li><a href="http://www.mass.gov/anf/research-and-tech/cyber-security/cyber-security-laws/federal-cyber-security-laws.html">Federal Cyber Security Laws</a></li>
            <li><a href="http://www.cox.com/wcm/en/aboutus/datasheet/takecharge/2009-teen-survey.pdf">COX Communications Report on Teen Online Saftey</a></li>
            <li><a href="https://polarisproject.org/">Polaris Project Website.</a></li>             
        </ul>

    </div>
</div>
