
@{
    ViewBag.Title = "Resources";
}

<img src="~/Content/Images/pic4.png" style="height:300px; width:100%;border-radius:22px 22px 22px 22px; margin-top:-15px;" />
<div class="row">
    <div class="col-md-8">
        <h2 id="headers"><strong>Resource Help</strong></h2>
        <p id="p_text">
            Below are link and pages on how these resources will help Adults, Teachers, Teen, and Youth with Cyber Security.
            These resources will hopefully provide a more in depth analysis of cyber security concerns and steps that may be taken
            to ensure that you are able to remain safe while surfing the web.
        </p>
    </div>

    <div class="col-md-4 align-center" id="borders">     
        <h3 id="headers_borders"><strong>Most Viewed Links</strong></h3>
        <ul class="align-left" id="p_textborders">
            <li><A HREF="http://praesidium.azurewebsites.net">Website1</A></li>
            <li><A HREF="http://praesidium.azurewebsites.net">Website2</A></li>
            <li><A HREF="http://praesidium.azurewebsites.net">Website3</A></li>
        </ul>
    </div>

<div class="col-md-8 well">
    <h2 id="headers"><strong>Top Cyber Security Resources</strong></h2>
    <div class="col-md-8">
        <ul id="p_text">
            <li><a href="https://heimdalsecurity.com/blog/cyber-security-tips/">131 Cyber Security Tips that Anyone Can Apply</a></li>
            <li>Website2</li>
            <li>Website3</li>
            <li>Website4</li>
            <li>Website5</li>
            <li>Website6</li>
            <li>Website7</li>
            <li>Website8</li>
            <li>Website9</li>
            <li>Website10</li>
        </ul>
    </div>
</div>
</div>