
@{
    ViewBag.Title = "Teen";
}

<div class="row">
    <div class="col-md-8">

        <p class="h2" style="text-align:center; color:slategray"><strong>Teen</strong></p><br /><br />


        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra sapien eget tempor pulvinar. Nunc eleifend orci nec rutrum bibendum. Sed non enim ac elit malesuada venenatis. Suspendisse imperdiet dolor sit amet leo fermentum, sed pulvinar tellus cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec velit metus, facilisis a sodales non, scelerisque et est. Maecenas a sapien placerat, dignissim dui vestibulum, ultricies est. Praesent non mauris non dolor ultricies tincidunt. Nulla tellus purus, venenatis eu magna in, ultrices pellentesque ligula. Donec elementum pulvinar ex, non mollis justo lacinia et. Sed commodo porta felis, quis viverra ligula auctor vel. Etiam elit lacus, vehicula vel finibus quis, semper vel lectus.

            Nam luctus tellus massa, ut fringilla quam ultrices a. Nam turpis ex, convallis mollis erat non, consectetur vehicula neque. Morbi enim metus, condimentum et tincidunt vitae, vestibulum eu neque. Sed velit felis, suscipit quis nibh suscipit, feugiat consequat quam. Suspendisse finibus tempus maximus. Quisque erat ex, tincidunt vitae euismod nec, sagittis eu urna. Etiam eu nibh sit amet dolor rutrum ullamcorper et eget diam. Duis pulvinar convallis semper. Nam volutpat tincidunt cursus. Etiam vitae felis orci. Fusce nec leo a diam suscipit semper ac semper nibh. Suspendisse potenti. Maecenas ac sem a lorem aliquet efficitur.

        </p>

    </div>
    <div class="col-md-4 align-center ">
        <p class="h3" style="text-align:center;color:slategray;padding-top:25%;"><strong>Teen Page Links</strong></p>
        <ul class="align-left">
            <li><A HREF="http://praesidium.azurewebsites.net">Teen Group 1</A></li>
            <li><A HREF="http://praesidium.azurewebsites.net">Teen Group 2</A></li>
            <li><A HREF="http://praesidium.azurewebsites.net">Teen Group 3</A></li>
            <li><A HREF="http://praesidium.azurewebsites.net">Resources</A></li>
        </ul>

        <br /><br />

    </div>

</div>
<br />

<div class="col-md-8">
    <p class="h2" style="text-align:center; color:slategray"><strong>Resources for staying safe online</strong></p><br />
    <div class="well">
        <p class="h2" style="text-align:center; color:slategray"><strong>Article 1</strong></p><br />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra sapien eget tempor pulvinar. Nunc eleifend orci nec rutrum bibendum. Sed non enim ac elit malesuada venenatis. Suspendisse imperdiet dolor sit amet leo fermentum, sed pulvinar tellus cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec velit metus, facilisis a sodales non, scelerisque et est. Maecenas a sapien placerat, dignissim dui vestibulum, ultricies est. Praesent non mauris non dolor ultricies tincidunt. Nulla tellus purus, venenatis eu magna in, ultrices pellentesque ligula. Donec elementum pulvinar ex, non mollis justo lacinia et. Sed commodo porta felis, quis viverra ligula auctor vel. Etiam elit lacus, vehicula vel finibus quis, semper vel lectus.

            Nam luctus tellus massa, ut fringilla quam ultrices a. Nam turpis ex, convallis mollis erat non, consectetur vehicula neque. Morbi enim metus, condimentum et tincidunt vitae, vestibulum eu neque. Sed velit felis, suscipit quis nibh suscipit, feugiat consequat quam. Suspendisse finibus tempus maximus. Quisque erat ex, tincidunt vitae euismod nec, sagittis eu urna. Etiam eu nibh sit amet dolor rutrum ullamcorper et eget diam. Duis pulvinar convallis semper. Nam volutpat tincidunt cursus. Etiam vitae felis orci. Fusce nec leo a diam suscipit semper ac semper nibh. Suspendisse potenti. Maecenas ac sem a lorem aliquet efficitur.

        </p>

    </div>

    <div class="well">
        <p class="h2" style="text-align:center; color:slategray"><strong>Article 2</strong></p><br />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra sapien eget tempor pulvinar. Nunc eleifend orci nec rutrum bibendum. Sed non enim ac elit malesuada venenatis. Suspendisse imperdiet dolor sit amet leo fermentum, sed pulvinar tellus cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec velit metus, facilisis a sodales non, scelerisque et est. Maecenas a sapien placerat, dignissim dui vestibulum, ultricies est. Praesent non mauris non dolor ultricies tincidunt. Nulla tellus purus, venenatis eu magna in, ultrices pellentesque ligula. Donec elementum pulvinar ex, non mollis justo lacinia et. Sed commodo porta felis, quis viverra ligula auctor vel. Etiam elit lacus, vehicula vel finibus quis, semper vel lectus.

            Nam luctus tellus massa, ut fringilla quam ultrices a. Nam turpis ex, convallis mollis erat non, consectetur vehicula neque. Morbi enim metus, condimentum et tincidunt vitae, vestibulum eu neque. Sed velit felis, suscipit quis nibh suscipit, feugiat consequat quam. Suspendisse finibus tempus maximus. Quisque erat ex, tincidunt vitae euismod nec, sagittis eu urna. Etiam eu nibh sit amet dolor rutrum ullamcorper et eget diam. Duis pulvinar convallis semper. Nam volutpat tincidunt cursus. Etiam vitae felis orci. Fusce nec leo a diam suscipit semper ac semper nibh. Suspendisse potenti. Maecenas ac sem a lorem aliquet efficitur.

        </p>

    </div>

﻿
@{
    ViewBag.Title = "Teen";
}

<div class="row">
    <div class="col-md-8">

        <p class="h2" style="text-align:center; color:slategray"><strong>Teen</strong></p><br /><br />


        <p>
            <h1>Welcome to the Teen resource page for Cyber Security</h1>
            This is a page where teens can get non-judgemental information and serves to better educate them on issues that can help them avoid being unsafe online.

        </p>

    </div>
    <div class="col-md-4 align-center ">
        <p class="h3" style="text-align:center;color:slategray;padding-top:25%;"><strong>Teen Page Links</strong></p>
        <ul class="align-left">
            <li><A HREF="http://www.cox.com/wcm/en/aboutus/datasheet/takecharge/2009-teen-survey.pdf">COX Communications Report</A></li>
            <li><A HREF="http://www.innocentsatrisk.org">Innocents at Risk</A></li>
            <li><A HREF="https://humantraffickinghotline.org">Human Trafficking Hotline</A></li>
        </ul>

        <br /><br />

    </div>

</div>
<br />

    <div class="col-md-8">
        <p class="h2" style="text-align:center; color:slategray"><strong>Resources for staying safe online</strong></p><br />
        <div class="well">
            <p class="h2" style="text-align:center; color:slategray"><strong>Article 1</strong></p><br />
            <p>
                <h2>Top 10 way you can stay safe online.</h2>
                We know that being all grown up is the coolest and you just want to be treated like an adult. Unfortuantly not all adults have a good intention when they are trying to be your "Friend". Use these 10 tips to be cool but stay safe...

            </p>

        </div>

        <div class="well">
            <p class="h2" style="text-align:center; color:slategray"><strong>Article 2</strong></p><br />
            <p>
                <h2>Oversharing: What so bad about it</h2>
                Your friend Nate tweeted that he was going to be at the basktball game and everyone should meet him there at 7:30. This seems harmless right? Well it could open the door to a predator and give him the information he needs to...
                @Html.ActionLink("Teen Quiz", "Quiz", new { quizId = 2 }, new { @class = "btn btn-info", @title = "" })
            </p>

        </div>

    </div>
</div>