
﻿@{
    ViewBag.Title = "Youth";
}

<div class="container-fluid" id="photo_cont" style="margin-bottom:3%;min-height:300px;margin-top:-45px;">
    <div class="row">
        <div class="col-md-12">
            <figure class="effect-caged">
                <img src="~/Content/Images/cyber_security_1.png" style="width:100%;max-height:330px;" />
            </figure>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h1 id="headers" class="align-left">Cyber Security for Youth</h1>
        <p id="p_text">
            This is a page where youth (thats you!) can learn about being safe online!
        </p>

    </div>
    <div class="col-md-4 align-center " id="borders" style="min-height:150px;">
        <h3 id="headers_borders">Quick Tips!</h3>
        <ul class="align-left" id="p_textborders">
            <li>Always tell your parents about people you don't know trying to talk to you</li>
            <li>Never talk to strangers online</li>
            <li>Only go to websites your parents approve</li>
        </ul>
    </div>
</div>
@if (Model != null)
{
    foreach (var file in Model)
    {
        <div class="row">
            <div class="col-md-8">
                <div class="well">
                    <h2 style="color:slategrey;text-align:center;"><strong>@file.Title</strong></h2>
                    <p id="p_text">
                        @WebUtility.HtmlDecode(file.Description)
                    </p>
                    <button class="btn btn-md btn-success align-center" style="margin-left:42%;">View File</button>
                </div>
            </div>
        </div>
    }
}




