body {
    display: block;
    height: 100%;
    padding-bottom: 0;
    padding-top: 50px;
    margin-bottom: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#get-away {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 100px;
    width: 150px;
    background-color: #1272e8;
    color: black;
    font-size: 25px;
    border: 0px;
    border-radius: 5px;
}

    #get-away:hover {
        background-color: #488bf6;
    }

footer {
    display: block;
    position: relative;
    bottom: ;
    width: 100%;
    min-height: 180px; /* Height of the footer */
    padding-top: 10px;
    background-color: #282d32;
}

.body-content {
    min-height: calc(100vh - 288px);
    padding-top: 100px !important;
}

.navbar-fixed-top {
    top: 50px;
}

.navbar-inverse  {
    height: 60px !important;
    background-color: #e95420;
    border-color: #e95420;
    /*border-radius: 15px;*/
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 85%;
    margin: auto;
    font-weight: bold;
}

.navbar-nav {
    background-color: #e95420;
    border-color: #e95420;
    /*border-radius: 15px;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.searchAreasm {
    padding-left:5px;
    padding-bottom:5px;
    padding-right:5px;
}

    .navbar-inverse .navbar-brand {
        height: 50px;
        color: #000;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #101010;
        /*padding-top: 15px;*/
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #000;
    }

@media (min-width: 1200px) {
    .container {
        padding-top: 6px;
    }
}

.whitespace {
    background-color: white;
    height: 150px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1020;
}

.searchArea {
    z-index: 1400;
    background-color: #e95420;
    width: 10%;
    height: 30px;
    position: fixed;
    top: 110px;
    right: 7.5%;
    min-width: 200px;
}


.searchArea:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 30px solid white;
    border-right: 30px solid #e95420;
    width: 0;
}

.searchBar {
    margin-top: 2px;
    margin-left: 85px;
    border-radius: 5px;
    border: none;
    position: fixed;
    top: 110px;
    right: 8%;
    width: 90%;
}
.Contributer {
    text-align: left;
}

/*Glyphicon styling*/
.logo {
   color: #f4511e;
   font-size: 200px;
   padding-left: 15%;
       }
  
/*glyphicon table styling*/ 

  .logo-table {
      color: #f4511e;
      font-size: 50px;
  }

 .center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}


/* CSS for trafficking photo & effect*/

figure.effect-caged figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	transform: translate3d(0,50%,0);
}

.photo_cont{
box-shadow:1px 1px 4px rgba(0,0,0,0.8);
}
figure.effect-caged h1 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: white;
	transition: transform 0.35s, color 0.35s;
	transform: translate3d(0,-50%,0);
    text-align:center;
    text-shadow: black 0.1em 0.1em 0.2em;
}

figure.effect-caged figcaption::before,
figure.effect-caged p {
    width: 100%;
	transition: opacity 0.35s, transform 0.35s;
    text-align:center;
  


}

figure.effect-caged p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	transform: translate3d(0,10px,0);
    text-align:center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

figure.effect-caged:hover h1 {

	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    text-align:center;
    font-weight:bold;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size:40px;
}

figure.effect-caged:hover figcaption::before ,
figure.effect-caged:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
  
}
/* end CSS for trafficking photo & effect*/

/* CSS for jumbotron on contact page */

 .jumbotron{
    box-shadow:1px 1px 4px rgba(0,0,0,0.5);
    background-size: cover;
    background-position:right top;
    background-image: url(http://kidsbizmasters.com/wp-content/uploads/2014/02/telephone.jpg); 
    position: relative;
    height: 100%;
   
}
.jumbotron .btn{
    border-radius:0px!important;
    box-shadow:1px 1px 4px rgba(0,0,0,0.4);
    padding:10px 40px;
}

/* adjust the edges of carousel trafficking image*/

#carousel-example-generic{

box-shadow:2px 2px 4px rgba(0,0,0,0.8);
   border-radius: 22px 22px 22px 22px;
   width:100%;
   overflow: hidden;
   min-height:375px;
   
    
}

#carousel_img{

 border-radius: 22px 22px 22px 22px;
   overflow: hidden;
   min-height:375px;

}

#photo_cont{

border-radius: 22px 22px 22px 22px;
overflow: hidden;
box-shadow:2px 2px 4px rgba(0,0,0,0.8);

}

#carousel_btn{
    margin-top:5%;
    margin-bottom:10%;

}

/* Start CSS for Teen Page*/

.container {
  margin-top: 20px;
}

.center {
  margin: 0 auto;
}

.carousel-caption {
  font-size: 28px;
  bottom: 0;
}

/* post class*/

.post {
  margin-bottom: 30px;
}

a.thumbnail:hover, a.thumbnail:focus{
  border: 1px solid black;
}

@media (max-width: 768px){
  .thumbnail {
    border: none;
  }
  a.thumbnail:hover, a.thumbnail:focus{
    border: none;
  }
}

