@model Praesidium.Data_Models.Admin.FileView
@{
    ViewBag.Title = "View";
}

<h2>View file @Model.Title</h2>

<div class="col-md-6">
    <iframe src="https://docs.google.com/gview?url=@Url.Action("File", "Download", new {id = Model.RecId}, Request.Url.Scheme)?pid=explorer&efh=false&a=v&chrome=false&embedded=true" style="height: 100%; width: 100%;"></iframe>
</div>

